@charset "utf-8";
%mydef{
  content:"";
  display:block;
  position:absolute;
}
*{
  box-sizing:border-box;
}
body,html,.container,#app{
  background-color:#011;
  position:relative;
  margin:0;padding:0;
  width:100%;height:100%;
  font-family: "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
}
.text,.welcome{
	color:#fff;
}
.wrapper{
  display:flex;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}
.fullPage{
  height:100%;
  transition:height .3s ease;
  &.close{
  	height: 22%;
  	transition-delay: 0.55s;
  }
}
.icon{
  margin:20px;
  position:relative;
  border:4px solid #fff;
  width:45px;
  height:45px;
  padding:0;
  z-index:1;
  border-radius:30px;
  transition:all .25s ease;
  -webkit-transition:all .25s ease;
  cursor: pointer;
  &:before {
    @extend %mydef;
    top: 90%;
    left: 90%;
    width: 16px;
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
    transition:width 0.25s ease;
    transform:rotate(45deg);
    transform-origin:top left;
    -webkit-transition:width 0.25s ease;
    -webkit-transform:rotate(45deg);
    -webkit-transform-origin:top left;
  }
}
.icon.close{
	width:0;height:0;
	transition-delay:0.35s;
	-webkit-transition-delay:0.35s;
	&:before{
		width: 0;
		transition-delay: .1s; 
    -webkit-transition-delay: .1s;
	}
}
ul{
	margin-left:0;
	width:80%;
	&>li{
		width: 100%;
    position:relative;
    display: block;
    list-style-type:none;
    border-top:5px solid #aaa;
    margin-bottom:15px;
    padding:10px 10px;
    background-color:#eee;
    &:before,&:after{
      @extend %mydef;
      position:absolute;
      background-color:#999;
      border-radius:2px;
      width: 0;height:100%;
    }
    &:before{
      top:0;left:0;
    }
    &:after{
      top: 0;right:0;
    }
    &:hover{
      &:before,&:after{
        width: 5px;
        transition: width .8s ease;
        -webkit-transition: width .8s ease;
      }
      &:before{
        animation: move-left .5s linear forwards;
        -webkit-animation: move-left .5s linear forwards;
      }
      &:after{
        animation: move-right .5s linear forwards;
        -webkit-animation: move-right .5s linear forwards;
      }
    }
  }
}
ol{
  margin-bottom:10px;
}
ul+p{
  margin-top: 0;
}
@-webkit-keyframes move-left
{
  0%{left:0}
  40%{left:-10px}
  100%{left:-20px}
}
@-webkit-keyframes move-right
{
  0%{right:0}
  40%{right:-10px}
  100%{right:-20px}
}
@keyframes move-left
{
  0%{left:0}
  40%{left:-10px}
  100%{left:-20px}
}
@keyframes move-right
{
  0%{right:0}
  40%{right:-10px}
  100%{right:-20px}
}

//vue-transition部分
.disappear-leave-active{
  transition: opacity 0.3s linear 0.35s;
}
.fade-in-enter-active{
  transition: opacity 0.4s ease 0.55s;
}
.appear-enter-active{
  transition:opacity .2s ease .85s;
}