<!DOCTYPE html>
<html>
<head>
	<title>weicaiyue.github.io</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="js/vue.js"></script>
</head>
<body>
	<div class="container">
		<div id="app">
			<div class="wrapper fullPage" :class="{close:!full}">
				<h2 class="welcome">Welcome to Weicaiyue's GitHub Page</h2>
				<div class="icon" v-bind:class="{close:!full}" @click=" removeText() "></div>
				<transition name="disappear">
					<div v-if="full" class="text"><p>Click Icon For More</p></div>
				</transition>
			</div>
			<div class="wrapper">
				<transition name="fade-in">
					<ul v-if="!full">
						<li>
							<h3>个人简介</h3>
							<p>2014年9月考入电子科技大学通信与信息工程学院；曾任通信志愿者服务队队长，获校优秀志愿者称号；游戏爱好者，喜欢界面好看的游戏。</p>
						</li>
						<li>
							<h3>技能</h3>
							<p>掌握HTML，CSS和JavaScript等网页构建技术。熟悉W3C标准；已掌握Bootstrap，Jquery，Vue等框架并能使用以上框架来构建项目；了解并使用过Nodejs，Webpack，MySQL。</p>
							<p>大学英语四级(637分) &#8195大学英语六级(517分)</p>
						</li>
						<li>
							<h3>实习经历</h3>
							<p>成都乐动信息有限公司 &#8195实习职位：H5前端实习生&#8195 2017.11~2018.1</p>
							<p>H5前端项目组实习生，参与咕咚APP乐活动版块前端开发</p>

						</li>
						<li>
							<h3>项目经历</h3>
							<ol>
								<li>零食妹妹自主创业项目组前端页面与后台开发(Vue,Nodejs)</li>
								<li>挑战最美厦马H5前端页面开发(Vue);</li>
								<li>咕咚圣诞嘉年华H5前端页面开发(Vue);</li>
							</ol>
						</li>
						<li>
							<h3>联系方式</h3>
							<p>邮箱：weicaiyue528@163.com&#8195&#8195&#8195手机：15528177792</p>
						</li>
					</ul>
				</transition>
				<transition name="appear">
					<p v-if="!full"><a href="https://github.com/weicaiyue" class="text">To Weicaiyue's Github Profile</a></p>
				</transition>
			</div>
		</div>
		
	</div>
	<script src="js/func.js"></script>
</body>